/*--- HEADER STYLING ---*/

.logo {
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 0 0px 0px;
}

.logo:hover {
  box-shadow: 2px 2px #FEF596, 4px 4px #FBDE03, 6px 6px #FA9D04, 8px 8px #E7450D, 10px 10px #3F362A;
}

.nav-header{
  display: flex;
  align-items: center;
}

.name {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  color: white;
  font-size: 25px;
  margin-left: 15px;
}

.App-header {
  background-color: #222;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

p {
  margin: 0;
}

.nav{
  float: right;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 300px;
  justify-content: space-around;
  margin-top: -42px;
}

.nav li {
  list-style: none;
}

.nav li a{
  text-decoration: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}


.nav li a:hover{
  color: white;
  text-shadow: 2px 2px #FEF596, 4px 4px #FBDE03, 6px 6px #FA9D04, 8px 8px #E7450D, 10px 10px #3F362A; 
}

button{
  background: none;
  height: 60px;
  padding: 0;
  outline: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
 opacity: 0.5; 
}

/*--- FOOTER STYLING --- */

.App-footer {
  border-top: 7px solid #222;
  position: relative;
  background-color: #222;
  height: 75px;

}

.App-footer-top {
  height: 22px;
  width: 100%;
  text-align: center;
  background-color: #222;
}

.App-footer-fill {
  background: linear-gradient(to right, #FEF596, #FBDE03, #FA9D04, #E7450D, #3F362A);
  height: 4px;
  width: 100%;
}

.App-footer-bottom {
  background: #222;
  width: 100%;
}

.footer-pic {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  position: absolute;
  top: 9px;
}

.contact-container {
  background: white;
  margin: 10px auto;
  background: #222;
  text-align: center;
}

.contact {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  line-height: 30px;
}

.contact-link {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0 5px;
}

.contact-link:hover {
 text-decoration: underline;
 color: #FEF596;
}


/*--- HOME STYLING ---*/

.main-home {
  background-image: url("./Images/main-photo.jpg");
  width: 100%;
  height: 540px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 60px;
  box-shadow: inset 0 0 0 1200px rgba(0,0,0,.4);
}

.mast {
  padding-top: 60px;
}

.masthead {
  margin-bottom: 0;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 72px;
  font-weight: 700;
  text-shadow: 2px 2px black;
  animation: title-glow 5s linear forwards;
}

.mastsubhead {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: white;
}

/*--- ROUTE HEADER STYLING ---*/


  .route-header {
    background: #222;
  }

  .route-header-top {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    background: #222;
    display: block;
    color: white;
    animation: route-header-glow 3s linear forwards;
    }

  .route-header-fill {
    height: 30px;
    width: 100%;
    background: linear-gradient(to right, #FEF596, #FBDE03, #FA9D04, #E7450D, #3F362A);
    position: relative; 
  }

  .route-header-bottom {
    background-color: #222;
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 100%;
}



/*----PROJECTS PAGE STYLING----*/

.Projects {
  padding-top: 60px;
}

.project-1 {
  display: flex;
  padding: 25px 0;
}

.project-2 {
  display: flex;
  flex-direction: row-reverse;
  padding: 25px 0;
}

.project-photo {
  height: 235px;
  width: 500px;
  object-fit: cover;
  margin: 20px 0 15px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  opacity: 0.7;
}

.project-text {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.project-text h2 {
  font-family: 'Raleway', sans-serif;
  margin: 20px 0;
}

.project-text-right {
  margin: 10px 5px 10px 10px;
}

.project-text-left {
  margin: 10px 5px 10px 5px;
}

.project-tech-used {
  font-weight: 600;
  font-size: 14px;
  margin: 10px 5px;
}

.project-photo-right { 
  margin: 20px 20px 15px 0;
}

.project-photo:hover {
  opacity: 1;
}


/*----ABOUT PAGE STYLING----*/

.About {
  padding-top: 60px;
}
.about-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px; 
  color: white;
}

.about-city {
  height: 50px;
  width: 100%;
  background-color: #222;
  color: white;
}

.about-city span{
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
  font-size: 25px;
  margin-left: 35px;
}

.city{
  color: white;
  z-index: 2;
  font-size: 75px;
  line-height: 500px;
  letter-spacing: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.about-parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.about-parallax-1 {
  background-image: url("./Images/cle.jpg");
  box-shadow: inset 0 0 0 1200px rgba(114, 47, 55,.5);
}

.about-parallax-2 {
  background-image: url("./Images/mb.jpg");
  box-shadow: inset 0 0 0 1200px rgba(0,128,128,.3);
}

.about-parallax-3 {
  background-image: url("./Images/col.jpg");
  box-shadow: inset 0 0 0 1200px rgba(133, 39, 78,.6);
}

.about-parallax-4 {
  background-image: url("./Images/nyc.jpg");
  box-shadow: inset 0 0 0 1200px rgba(255,215,0,.3);
}

/*----WORK PAGE STYLING----*/

.Work {
  padding-top: 60px;
}

.work-fill: {
  height: 100px;
  background: #222;
  width: 100%;
}

.work-photo-container {
  min-width: 250px;
  min-height: 250px;
}

.work-container{
  display: flex;
  justify-content: flex-start;
  padding: 40px 0;
}

.work-container-1:hover {
  background-color: rgba(236,65,46, 0.05);
}

.work-container-1:hover > div > .work-photo {
  animation: company-logo-resize .5s linear forwards;
}

.work-container-2:hover {
  background-color: rgba(1,0,136,0.05);
}

.work-container-2:hover > div > .work-photo {
  animation: company-logo-resize .5s linear forwards;
}


.work-container-3:hover {
  background-color: rgba(215,9,11, 0.1);
}

.work-container-3:hover > div > .work-photo {
  animation: company-logo-resize .5s linear forwards;
}

.work-container-4:hover {
  background-color: rgba(30,179,250, 0.1);
}

.work-container-4:hover > div > .work-photo {
  animation: company-logo-resize .5s linear forwards;
}

.work-photo {
  height: 150px;
  width: 150px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.7), 0 0 0 10px rgba(0,0,0,0.5), 0 0 0 15px rgba(0,0,0,0.3), 0 0 0 20px rgba(0,0,0,0.1), 0 0 0 25px rgba(0,0,0,0);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-sizing: border-box;
  margin: 35px 35px;
}

.work-photo-1 {
  background-image: url("./Images/BR.png");
}

.work-photo-2 {
  background-image: url("./Images/mlbam.jpg");
}

.work-photo-3 {
  background-image: url("./Images/NFL.jpg");
}

.work-photo-4 {
  background-image: url("./Images/SV.jpg");
}

.work-text {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;
  display: inline-block;
  margin-left: 5px;
}

.work-text hr {
  width: 95%;
}

.work-text-header {
  font-size: 30px;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.work-text-subheader{
  font-size: 18px;
  color: black;
  font-family: 'Raleway', sans-serif;
  margin: 1px 0;
  display: block;
}

.title {
  font-weight: 600;
  font-size: 20px;
  display: block;
  text-align: left;
}

.work-text-body {
  text-align: left;
  margin: 10px 20px 0;
  font-size: 17px;
}

.gallery-link{
  text-decoration: none;
  padding: 10px;
  color: white;
  background: black;
  border-radius: 10px;
  display: block;
  margin: 5px 0;
  cursor: pointer;
  width: 100px;
  margin: 15px auto 0;
}

.gallery-link:hover {
  opacity: 0.5;
}

.newsletter-link{
  text-decoration: none;
  font-weight: 700;
  color: black;

}


/*----GALLERY----*/

.Gallery{
  padding-top: 60px;
}

.gallery-container {
  overflow-x: hidden;
}

.carousel-intro {
  text-align: center;
  background-color: lightgrey;
  width: 80%;
  margin: 30px auto; 
  padding: 25px;
  box-shadow: 3px 3px 0 black;
  font-size: 16px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.carousel-container{
  width: 100%;
  margin-left: 25%;
}

.legend-link{
  text-decoration: none;
  font-size: 13px;
  color: #111;  
  font-family: 'Montserrat', sans-serif;
}

.carousel:hover .slide .legend .legend-link{
  color: white;
}

.carousel:hover .slide .legend {
    background: black;
}

li.slide.selected {
  background: white;
}


/*----MEDIA QUERIES----*/


  /*-TABLET-*/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  /*--PROJECTS--*/
  .project {
    flex-direction: column;
    align-items: center;
  }
  .project-photo {
  height: 335px;
  width: 700px;
  margin: 10px 0;
}
}



  /*-MOBILE-*/

@media only screen and (min-width : 320px) and (max-width : 480px) {
  /*--FOOTER--*/
  .footer-pic {
    visibility: hidden;
  }

}


/*--- ANIMATIONS ---*/

@keyframes title-glow {
  to {
    text-shadow: 1px 1px black, 3px 3px #FEF596, 4px 4px black, 6px 6px #FBDE03, 7px 7px black, 9px 9px #FA9D04, 10px 10px black, 12px 12px #E7450D, 13px 13px black, 15px 15px #3F362A, 16px 16px black; 
 
  }

}

@keyframes route-header-glow {
  to{
    text-shadow: 2px 2px #FEF596, 4px 4px #FBDE03, 6px 6px #FA9D04, 8px 8px #E7450D, 10px 10px #3F362A;

  }
}

@keyframes company-logo-resize {
  to{
    height: 175px;
    width: 175px;
    min-width: 175px;
    min-height: 175px;
  }
}